* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*** Header section ***/

.header {
    background-color: #1f2937;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.header-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #f9faf8;
    font-weight: 800;
    font-size: 24px;
}

.header-links {
    list-style: none;
}

.header-link {
    display: inline-block;
    margin: 0 0 0 2rem;
    text-decoration: none;
    color: #e5e7eb;
}

/*** Hero section ***/

.hero {
    background-color: #1f2937;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    width: 70%;
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.hero-left-bigtext {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    font-family: roboto, sans-serif;
}

.hero-left-smalltext {
    font-size: 18px;
    color: #e5e7eb;
    font-family: roboto, sans-serif;
    margin: 1rem 0;
}

.hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: .5rem;
    padding: 8px 32px;
    font-weight: 600;
}

/*** Information section ***/

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
}

.information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 55%;
}

.information-title {
    font-size: 36px;
    font-weight: 800;
    font-family: roboto, sans-serif;
    color: #1f2937;
}

.information-tiles-container {
    display: flex;
    gap: 2rem;
}

.information-tile {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.tile-image {
    width: 90%;
    border-radius: 1rem;
    border: solid #3882f6 4px;
}

.tile-subtext {
    font-size: 18px;
    font-family: roboto, sans-serif;
}

/*** Quote section ***/

.quote {
    height: 30rem;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight:light;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quote-author {
    align-self: flex-end;
    font-family: roboto, sans-serif;
    font-weight: bolder;
}

/*** Call to Action section ***/

.call-to-action {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-box {
    width: 50%;
    height: 40%;
    background-color: #3382f6;
}